form {
  width: 90%;
  max-width: 40rem;
  margin: 2rem 12rem;
}

.form-control {
  margin-bottom: 1rem;
}

/* label,
input {
  display: block;
  width: 100%;
}

label {
  font-weight: bold;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0.5rem;
}

input {
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.25rem;
  margin-bottom: "15px";
} */

/* input:focus {
  outline: none;
  border-color: #50005a;
} */

button {
  background: #3f51b5;
  border: 1px solid#3f51b5;
  color: white;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #6a0a77;
  border-color: #6a0a77;
}

textarea {
  flex: 0 0 76%;
  max-width: 76%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
input {
  padding: 11px 10px 10px 30px;
  border: solid 1px #ced4da;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  flex: 0 0 70%;
  max-width: 70%;
  border-left: 0;
}

label {
  background-color: #e9ecef;
  padding: 9px;
  border-radius: 0.25rem;
  color: #495057;
  z-index: 1;
  text-align: center;
  border: 1px solid #ced4da;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  white-space: nowrap;
  flex: 0 0 20%;
  max-width: 20%;
}

/* hr {
  margin-left: 190px;
  margin-right: 140px;
} */

.wrap {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.inner-wrap {
  display: flex;
  margin-bottom: 20px;
}
.inner-wrap input {
  position: relative;
  top: -1px;
}
.wrap-item {
  flex: 0 0 49%;
  max-width: 49%;
}

.wrap-item:last-child {
  padding-left: 15px;
}
